:root {
  /* Light theme */
  --primary-bg-color: #ffffff;
  --primary-color: #f3f1ed;
  --primary-hover-color: #ebe7de;
  --primary-text-color: #000;
  --secondary-text-color: #6b6b6b;
  --third-text-color: #474747;
  --primary-button-color: #009688;
  --primary-button-hover-color: #3da99e;
  --primary-button-text-color: #f3f1ed;
  --primary-sb-color: #e8e2d5;
  --primary-sb-hover-color: #dad4c5;
  --primary-inbound-color: #1e7e1e;
  --primary-outbound-color: #b52020;
  --scrollbar-thumb-bg: #c1c1c1;
  --scrollbar-track-bg: #f0f0f0;

  /* Dark theme */
  --dark-primary-bg-color: #212121;
  --dark-primary-color: #2f2f2f;
  --dark-primary-hover-color: #444444;
  --dark-primary-text-color: #fff;
  --dark-secondary-text-color: #dddddd;
  --dark-third-text-color: #cccccc;
  --dark-primary-button-color: #4DB6AC;
  --dark-primary-button-hover-color: #55cbbf;
  --dark-primary-button-text-color: #fff;
  --dark-primary-sb-color: #383838;
  --dark-primary-sb-hover-color: #444444;
  --dark-primary-inbound-color: #51d651;
  --dark-primary-outbound-color: #e64c4c;
}

.dark-mode {
  --primary-bg-color: var(--dark-primary-bg-color);
  --primary-color: var(--dark-primary-color);
  --primary-hover-color: var(--dark-primary-hover-color);
  --primary-text-color: var(--dark-primary-text-color);
  --secondary-text-color: var(--dark-secondary-text-color);
  --third-text-color: var(--dark-third-text-color);
  --primary-button-color: var(--dark-primary-button-color);
  --primary-button-hover-color: var(--dark-primary-button-hover-color);
  --primary-button-text-color: var(--dark-primary-button-text-color);
  --primary-sb-color: var(--dark-primary-sb-color);
  --primary-sb-hover-color: var(--dark-primary-sb-hover-color);
  --primary-inbound-color: var(--dark-primary-inbound-color);
  --primary-outbound-color: var(--dark-primary-outbound-color);
  --scrollbar-thumb-bg: #4a4a4a;
  --scrollbar-track-bg: #2e2e2e;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  background: var(--dark-primary-color);
  border-radius: 17px;
  top: 15px;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  right: 2%;
  z-index: 15;
}

.theme-toggle .icon {
  width: 24px;
  height: 24px;
  background: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.5s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.theme-toggle .icon:before {
  color: var(--primary-color);
}

.dark-mode .theme-toggle {
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.7s ease;
  background-color: var(--dark-secondary-text-color);
}

.dark-mode .theme-toggle .icon {
  transform: translateX(29px);
  background-color: var(--dark-primary-color);
}

.dark-mode .theme-toggle .icon:before {
  fill: var(--primary-color);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-track-bg);
}

body .dialog {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 100%;
  height: 100%;
}

body .dialog.active {
  display: flex;
}

body .dialog-content {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 25px;
  max-width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -50px;
  z-index: 1001;
  justify-content: center;
  align-items: center;
}

body .dialog-title {
  font-family: "Lato", Helvetica;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

body .dialog-body {
  font-family: "Lato", Helvetica;
  font-size: 18px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

body .dialog-buttons {
  display: flex;
  justify-content: space-between;
}

body .dialog-button {
  font-family: "Lato", Helvetica;
  font-size: 18px;
  font-weight: 600;
  color: #f3f1ed;
  background-color: var(--primary-button-color);
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body .dialog-button:hover {
  background-color: var(--primary-button-hover-color);
}

body .dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

body .dialog .MuiInput-underline:before {
  border-bottom: 5px solid #d3d3d3;
}

body .dialog .MuiFormControl-root {
  margin-bottom: 16px;
}

.error {
  font-family: "Lato", Helvetica;
  color: red;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.MuiTypography-root.MuiTypography-overline {
  color: var(--secondary-text-color);
}

.MuiPickersDay-root.Mui-selected {
  background-color: var(--primary-button-color) !important;
}

.MuiPickersYear-yearButton.Mui-selected {
  background-color: var(--primary-button-color) !important;
}

.MuiYearCalendar-scrollableElement {
  /* Styles for the scrollbar track */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Styles for the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: var(--third-text-color);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-text-color);
  }

  /* Firefox scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-text-color);
}

@media screen and (max-width: 660px) {
  .dialog .dialog-content {
    max-width: 90%;
  }

  .theme-toggle {
    position: fixed;
  }
}



